body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 13px !important;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-feature-settings: 'tnum', 'tnum';
}

.ant-table-small {
  font-size: 13px !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trigger {
  /* padding: 0 24px; */
  font-size: 18px;
  line-height: 72px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  z-index: 1;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.site-layout-background {
  background: #fafafa;
  padding: 0 20px;
}

.ant-card {
  margin-bottom: 25px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  position: relative;
  padding: 0px;
  -webkit-border-radius: 0.428rem;
  -moz-border-radius: 0.428rem;
  border-radius: 0.428rem;
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
}

.ant-card-body {
  padding: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ant-card-body {
  padding: '10px';
}

.login-form {
  max-width: 400px;
  width: 100%;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.quiz-card-img {
  padding: 7px;
  border-radius: 0.728rem !important;
  height: 200px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.quiz-card-items-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.countdown-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.time-section {
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #254864 !important;
}

.time {
  margin: -3px;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.ant-page-header-content {
  padding: 0px !important;
}

.time-text {
  color: rgb(156 163 175 / 1) !important;
}
